<div class="container">
    <div class="row text-center">
        <div class="col-xs-3">
            <p class="lead"><%= title %></p>
            <button class="btn btn-primary " id="startGame">Empieza el juego.</button>
        </div>
        <div class="col-xs-3 text-center">
            <p class="lead">Usuarios conectados:</p>
            <ul class="list-group" id="usersList">

            </ul>
        </div>
        <div class="col-xs-3">
            <p class="lead">Lanzar dado.</p>
            <button class="btn btn-info" id="rollDice" disabled>¡Lanzar!</button>
        </div>
        <div class="col-xs-3">
            <p class="lead">Acciones</p>
            <button class="btn btn-info" id="buyProperty" disabled>Comprar.</button>
        </div>
        <p class="hidden" id="userId"><%= user.id %></p>
        <p class="hidden" id="gameId"><%= gameId %></p>
        <p class="hidden" id="userName"><%= user.name %></p>
    </div>
</div>
<div class="container" id="gameBoard">

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/gameBoardCtrl.js" type="text/javascript" charset="utf-8" defer></script>