
<div class="container">
  <div class="row">

    <div class="col-xs-12 jumbotron text-center" style="margin-top:35px; margin-bottom:50px;">
      <h1>Batalla Naval</h1>
      <p>El clásico juego para terminar odiando a tus amigos o familia.<br><b><small>Mejor no juegues</small></b></p>
      <img src="/img/monopoly-icon.svg" class="col-xs-8 col-xs-offset-2" style="color: #555;height:200px; margin-top:10px;" />
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="well well-lg text-center">
        <span class="glyphicon glyphicon-play glyphicon-big"></span>
        <h3 style="margin-bottom:1em;">Jugar</h3>
        <p><a class="btn btn-primary" href="/game/" role="button">Ver</a></p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="well well-lg text-center">
        <span class="glyphicon glyphicon-book glyphicon-big"></span>
        <h3 style="margin-bottom:1em;">Instrucciones</h3>
        <p><a class="btn btn-primary" href="http://bfy.tw/BMbV" role="button">Ver</a></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="well well-lg text-center">
        <span class="glyphicon glyphicon-info-sign glyphicon-big"></span>
        <h3 style="margin-bottom:1em;">Acerca de</h3>
        <p><a class="btn btn-primary" href="/about/" role="button">Ver</a></p>
      </div>
    </div>

  </div>
</div>
