<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Instrucciones</h1>
        </div>
        <div class="col-sm-12">
            <p> Just google it </p>
        </div>
    </div>
</div>